interactions:
- request:
    body: email=diana67%40white-harris.com&description=HP+Test+User+26
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4d7a41d2-3c32-4ada-b6fe-4311d5147edf
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FaFlFMGAE4E9Jy\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1565246255,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"HP Test User 26\",\n  \"discount\": null,\n  \"email\":
        \"diana67@white-harris.com\",\n  \"invoice_prefix\": \"9A70F8C3\",\n  \"invoice_settings\":
        {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n    \"footer\":
        null\n  },\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"name\": null,\n
        \ \"phone\": null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n
        \ \"sources\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FaFlFMGAE4E9Jy/sources\"\n
        \ },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n
        \   ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FaFlFMGAE4E9Jy/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FaFlFMGAE4E9Jy/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 4d7a41d2-3c32-4ada-b6fe-4311d5147edf
      original-request:
      - req_xKxSUvbTgG2Zop
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FaFlFMGAE4E9Jy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a0e19442-ae59-458a-b76f-122f035a5b6a
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1F55FkFWLfbqapoHeYYDETjd\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"US\",\n    \"exp_month\":
        8,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"5WF0F0bdzuufzLej\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1565246256,\n  \"customer\": \"cus_FaFlFMGAE4E9Jy\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - a0e19442-ae59-458a-b76f-122f035a5b6a
      original-request:
      - req_jIhjD6VaOSJvv9
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
version: 1
