interactions:
- request:
    body: email=user%40userland.tech&description=ULA+TEST+2019-08-08+06%3A38%3A02.134526+None
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 20df5fa1-4d52-4b55-84d5-8079d021a901
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FaFlJH9laHPr3K\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1565246282,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"ULA TEST 2019-08-08 06:38:02.134526 None\",\n
        \ \"discount\": null,\n  \"email\": \"user@userland.tech\",\n  \"invoice_prefix\":
        \"F74EC952\",\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n
        \ ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FaFlJH9laHPr3K/sources\"\n  },\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FaFlJH9laHPr3K/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FaFlJH9laHPr3K/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 20df5fa1-4d52-4b55-84d5-8079d021a901
      original-request:
      - req_pXRsVbgL95OXQG
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FaFlJH9laHPr3K
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9698893f-7bc5-4233-9896-26884a129447
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_chargeCustomerFail/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1F55GAFWLfbqapoHBk2Flt5j\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"US\",\n    \"exp_month\":
        8,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"uTOMrpBJSijh5Bss\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"0341\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1565246282,\n  \"customer\": \"cus_FaFlJH9laHPr3K\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 9698893f-7bc5-4233-9896-26884a129447
      original-request:
      - req_SNV27EUDWV9GtK
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FaFlJH9laHPr3K&default_payment_method=pm_1F55GAFWLfbqapoHBk2Flt5j&items[0][plan]=plan_FZrbLVsKMsw3IL&expand[0]=latest_invoice.payment_intent
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2c90d1a4-83a8-4b20-946e-c52fb8543923
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/subscriptions
  response:
    body:
      string: "{\n  \"id\": \"sub_FaFlabUoVgCJ03\",\n  \"object\": \"subscription\",\n
        \ \"application_fee_percent\": null,\n  \"billing\": \"charge_automatically\",\n
        \ \"billing_cycle_anchor\": 1565246283,\n  \"billing_thresholds\": null,\n
        \ \"cancel_at\": null,\n  \"cancel_at_period_end\": false,\n  \"canceled_at\":
        null,\n  \"collection_method\": \"charge_automatically\",\n  \"created\":
        1565246283,\n  \"current_period_end\": 1567924683,\n  \"current_period_start\":
        1565246283,\n  \"customer\": \"cus_FaFlJH9laHPr3K\",\n  \"days_until_due\":
        null,\n  \"default_payment_method\": \"pm_1F55GAFWLfbqapoHBk2Flt5j\",\n  \"default_source\":
        null,\n  \"default_tax_rates\": [\n\n  ],\n  \"discount\": null,\n  \"ended_at\":
        null,\n  \"items\": {\n    \"object\": \"list\",\n    \"data\": [\n      {\n
        \       \"id\": \"si_FaFlbox0DGaIo4\",\n        \"object\": \"subscription_item\",\n
        \       \"billing_thresholds\": null,\n        \"created\": 1565246283,\n
        \       \"metadata\": {\n        },\n        \"plan\": {\n          \"id\":
        \"plan_FZrbLVsKMsw3IL\",\n          \"object\": \"plan\",\n          \"active\":
        true,\n          \"aggregate_usage\": null,\n          \"amount\": 999,\n
        \         \"billing_scheme\": \"per_unit\",\n          \"created\": 1565156402,\n
        \         \"currency\": \"usd\",\n          \"interval\": \"month\",\n          \"interval_count\":
        1,\n          \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"nickname\": \"Userland Service: paid\",\n          \"product\":
        \"userland\",\n          \"tiers\": null,\n          \"tiers_mode\": null,\n
        \         \"transform_usage\": null,\n          \"trial_period_days\": null,\n
        \         \"usage_type\": \"licensed\"\n        },\n        \"quantity\":
        1,\n        \"subscription\": \"sub_FaFlabUoVgCJ03\",\n        \"tax_rates\":
        [\n\n        ]\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\":
        1,\n    \"url\": \"/v1/subscription_items?subscription=sub_FaFlabUoVgCJ03\"\n
        \ },\n  \"latest_invoice\": {\n    \"id\": \"in_1F55GBFWLfbqapoHr3rWoWBF\",\n
        \   \"object\": \"invoice\",\n    \"account_country\": \"US\",\n    \"account_name\":
        \"ORB.HOUSE, LLC\",\n    \"amount_due\": 999,\n    \"amount_paid\": 0,\n    \"amount_remaining\":
        999,\n    \"application_fee_amount\": null,\n    \"attempt_count\": 1,\n    \"attempted\":
        true,\n    \"auto_advance\": true,\n    \"billing\": \"charge_automatically\",\n
        \   \"billing_reason\": \"subscription_create\",\n    \"charge\": \"ch_1F55GBFWLfbqapoHj9YAiBbe\",\n
        \   \"collection_method\": \"charge_automatically\",\n    \"created\": 1565246283,\n
        \   \"currency\": \"usd\",\n    \"custom_fields\": null,\n    \"customer\":
        \"cus_FaFlJH9laHPr3K\",\n    \"customer_address\": null,\n    \"customer_email\":
        \"user@userland.tech\",\n    \"customer_name\": null,\n    \"customer_phone\":
        null,\n    \"customer_shipping\": null,\n    \"customer_tax_exempt\": \"none\",\n
        \   \"customer_tax_ids\": [\n\n    ],\n    \"default_payment_method\": null,\n
        \   \"default_source\": null,\n    \"default_tax_rates\": [\n\n    ],\n    \"description\":
        null,\n    \"discount\": null,\n    \"due_date\": null,\n    \"ending_balance\":
        0,\n    \"footer\": null,\n    \"hosted_invoice_url\": \"https://pay.stripe.com/invoice/invst_Pcu0fyD9ZMngbuNWFdpHcDCPit\",\n
        \   \"invoice_pdf\": \"https://pay.stripe.com/invoice/invst_Pcu0fyD9ZMngbuNWFdpHcDCPit/pdf\",\n
        \   \"lines\": {\n      \"object\": \"list\",\n      \"data\": [\n        {\n
        \         \"id\": \"sli_00d97adad6d2f3\",\n          \"object\": \"line_item\",\n
        \         \"amount\": 999,\n          \"currency\": \"usd\",\n          \"description\":
        \"1 \xD7 Userland.tech (at $9.99 / month)\",\n          \"discountable\":
        true,\n          \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"period\": {\n            \"end\": 1567924683,\n            \"start\":
        1565246283\n          },\n          \"plan\": {\n            \"id\": \"plan_FZrbLVsKMsw3IL\",\n
        \           \"object\": \"plan\",\n            \"active\": true,\n            \"aggregate_usage\":
        null,\n            \"amount\": 999,\n            \"billing_scheme\": \"per_unit\",\n
        \           \"created\": 1565156402,\n            \"currency\": \"usd\",\n
        \           \"interval\": \"month\",\n            \"interval_count\": 1,\n
        \           \"livemode\": false,\n            \"metadata\": {\n            },\n
        \           \"nickname\": \"Userland Service: paid\",\n            \"product\":
        \"userland\",\n            \"tiers\": null,\n            \"tiers_mode\": null,\n
        \           \"transform_usage\": null,\n            \"trial_period_days\":
        null,\n            \"usage_type\": \"licensed\"\n          },\n          \"proration\":
        false,\n          \"quantity\": 1,\n          \"subscription\": \"sub_FaFlabUoVgCJ03\",\n
        \         \"subscription_item\": \"si_FaFlbox0DGaIo4\",\n          \"tax_amounts\":
        [\n\n          ],\n          \"tax_rates\": [\n\n          ],\n          \"type\":
        \"subscription\"\n        }\n      ],\n      \"has_more\": false,\n      \"total_count\":
        1,\n      \"url\": \"/v1/invoices/in_1F55GBFWLfbqapoHr3rWoWBF/lines\"\n    },\n
        \   \"livemode\": false,\n    \"metadata\": {\n    },\n    \"next_payment_attempt\":
        null,\n    \"number\": \"F74EC952-0001\",\n    \"paid\": false,\n    \"payment_intent\":
        {\n      \"id\": \"pi_1F55GBFWLfbqapoHqUSHrqiV\",\n      \"object\": \"payment_intent\",\n
        \     \"amount\": 999,\n      \"amount_capturable\": 0,\n      \"amount_received\":
        0,\n      \"application\": null,\n      \"application_fee_amount\": null,\n
        \     \"canceled_at\": null,\n      \"cancellation_reason\": null,\n      \"capture_method\":
        \"automatic\",\n      \"charges\": {\n        \"object\": \"list\",\n        \"data\":
        [\n          {\n            \"id\": \"ch_1F55GBFWLfbqapoHj9YAiBbe\",\n            \"object\":
        \"charge\",\n            \"amount\": 999,\n            \"amount_refunded\":
        0,\n            \"application\": null,\n            \"application_fee\": null,\n
        \           \"application_fee_amount\": null,\n            \"balance_transaction\":
        null,\n            \"billing_details\": {\n              \"address\": {\n
        \               \"city\": null,\n                \"country\": null,\n                \"line1\":
        null,\n                \"line2\": null,\n                \"postal_code\":
        null,\n                \"state\": null\n              },\n              \"email\":
        null,\n              \"name\": null,\n              \"phone\": null\n            },\n
        \           \"captured\": false,\n            \"created\": 1565246283,\n            \"currency\":
        \"usd\",\n            \"customer\": \"cus_FaFlJH9laHPr3K\",\n            \"description\":
        \"Payment for invoice F74EC952-0001\",\n            \"destination\": null,\n
        \           \"dispute\": null,\n            \"failure_code\": \"card_declined\",\n
        \           \"failure_message\": \"Your card was declined.\",\n            \"fraud_details\":
        {\n            },\n            \"invoice\": \"in_1F55GBFWLfbqapoHr3rWoWBF\",\n
        \           \"livemode\": false,\n            \"metadata\": {\n            },\n
        \           \"on_behalf_of\": null,\n            \"order\": null,\n            \"outcome\":
        {\n              \"network_status\": \"declined_by_network\",\n              \"reason\":
        \"generic_decline\",\n              \"risk_level\": \"normal\",\n              \"risk_score\":
        7,\n              \"seller_message\": \"The bank did not return any further
        details with this decline.\",\n              \"type\": \"issuer_declined\"\n
        \           },\n            \"paid\": false,\n            \"payment_intent\":
        \"pi_1F55GBFWLfbqapoHqUSHrqiV\",\n            \"payment_method\": \"pm_1F55GAFWLfbqapoHBk2Flt5j\",\n
        \           \"payment_method_details\": {\n              \"card\": {\n                \"brand\":
        \"visa\",\n                \"checks\": {\n                  \"address_line1_check\":
        null,\n                  \"address_postal_code_check\": null,\n                  \"cvc_check\":
        null\n                },\n                \"country\": \"US\",\n                \"exp_month\":
        8,\n                \"exp_year\": 2020,\n                \"fingerprint\":
        \"uTOMrpBJSijh5Bss\",\n                \"funding\": \"credit\",\n                \"last4\":
        \"0341\",\n                \"three_d_secure\": null,\n                \"wallet\":
        null\n              },\n              \"type\": \"card\"\n            },\n
        \           \"receipt_email\": null,\n            \"receipt_number\": null,\n
        \           \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1EO9vYFWLfbqapoH/ch_1F55GBFWLfbqapoHj9YAiBbe/rcpt_FaFl270c13Ewj32sZgP8ZyKtI4neRou\",\n
        \           \"refunded\": false,\n            \"refunds\": {\n              \"object\":
        \"list\",\n              \"data\": [\n\n              ],\n              \"has_more\":
        false,\n              \"total_count\": 0,\n              \"url\": \"/v1/charges/ch_1F55GBFWLfbqapoHj9YAiBbe/refunds\"\n
        \           },\n            \"review\": null,\n            \"shipping\": null,\n
        \           \"source\": null,\n            \"source_transfer\": null,\n            \"statement_descriptor\":
        null,\n            \"statement_descriptor_suffix\": null,\n            \"status\":
        \"failed\",\n            \"transfer_data\": null,\n            \"transfer_group\":
        null\n          }\n        ],\n        \"has_more\": false,\n        \"total_count\":
        1,\n        \"url\": \"/v1/charges?payment_intent=pi_1F55GBFWLfbqapoHqUSHrqiV\"\n
        \     },\n      \"client_secret\": \"pi_1F55GBFWLfbqapoHqUSHrqiV_secret_gFXF7JevywJbLoDRaGL36NCSp\",\n
        \     \"confirmation_method\": \"automatic\",\n      \"created\": 1565246283,\n
        \     \"currency\": \"usd\",\n      \"customer\": \"cus_FaFlJH9laHPr3K\",\n
        \     \"description\": \"Payment for invoice F74EC952-0001\",\n      \"invoice\":
        \"in_1F55GBFWLfbqapoHr3rWoWBF\",\n      \"last_payment_error\": {\n        \"charge\":
        \"ch_1F55GBFWLfbqapoHj9YAiBbe\",\n        \"code\": \"card_declined\",\n        \"decline_code\":
        \"generic_decline\",\n        \"doc_url\": \"https://stripe.com/docs/error-codes/card-declined\",\n
        \       \"message\": \"Your card was declined.\",\n        \"payment_method\":
        {\n          \"id\": \"pm_1F55GAFWLfbqapoHBk2Flt5j\",\n          \"object\":
        \"payment_method\",\n          \"billing_details\": {\n            \"address\":
        {\n              \"city\": null,\n              \"country\": null,\n              \"line1\":
        null,\n              \"line2\": null,\n              \"postal_code\": nul[...]
