interactions:
- request:
    body: email=delete%40me.com&description=ULA+TEST+2019-08-08+06%3A37%3A49.779794+None
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 28ec3cf1-b3c5-472c-81c6-253c4ac26c97
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FaFlI5V5zLpvjF\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1565246270,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"ULA TEST 2019-08-08 06:37:49.779794 None\",\n
        \ \"discount\": null,\n  \"email\": \"delete@me.com\",\n  \"invoice_prefix\":
        \"1AB5A611\",\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n
        \ ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FaFlI5V5zLpvjF/sources\"\n  },\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FaFlI5V5zLpvjF/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FaFlI5V5zLpvjF/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 28ec3cf1-b3c5-472c-81c6-253c4ac26c97
      original-request:
      - req_oZRxEQGVMy0Tzd
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FaFlI5V5zLpvjF
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cedf8acf-2b04-41dd-92b7-93d7b57bb9e9
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1F55FyFWLfbqapoHuJ9a0sbT\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"US\",\n    \"exp_month\":
        8,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"5WF0F0bdzuufzLej\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1565246270,\n  \"customer\": \"cus_FaFlI5V5zLpvjF\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - cedf8acf-2b04-41dd-92b7-93d7b57bb9e9
      original-request:
      - req_jK6c5KWOaBAvnd
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FaFlI5V5zLpvjF&default_payment_method=pm_1F55FyFWLfbqapoHuJ9a0sbT&items[0][plan]=plan_FZrbLVsKMsw3IL&expand[0]=latest_invoice.payment_intent
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b015b6be-d9b1-4c7c-8acc-18dab8090bd4
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/subscriptions
  response:
    body:
      string: "{\n  \"id\": \"sub_FaFlsgmQ1IEmpi\",\n  \"object\": \"subscription\",\n
        \ \"application_fee_percent\": null,\n  \"billing\": \"charge_automatically\",\n
        \ \"billing_cycle_anchor\": 1565246270,\n  \"billing_thresholds\": null,\n
        \ \"cancel_at\": null,\n  \"cancel_at_period_end\": false,\n  \"canceled_at\":
        null,\n  \"collection_method\": \"charge_automatically\",\n  \"created\":
        1565246270,\n  \"current_period_end\": 1567924670,\n  \"current_period_start\":
        1565246270,\n  \"customer\": \"cus_FaFlI5V5zLpvjF\",\n  \"days_until_due\":
        null,\n  \"default_payment_method\": \"pm_1F55FyFWLfbqapoHuJ9a0sbT\",\n  \"default_source\":
        null,\n  \"default_tax_rates\": [\n\n  ],\n  \"discount\": null,\n  \"ended_at\":
        null,\n  \"items\": {\n    \"object\": \"list\",\n    \"data\": [\n      {\n
        \       \"id\": \"si_FaFlOXFktXvGXG\",\n        \"object\": \"subscription_item\",\n
        \       \"billing_thresholds\": null,\n        \"created\": 1565246271,\n
        \       \"metadata\": {\n        },\n        \"plan\": {\n          \"id\":
        \"plan_FZrbLVsKMsw3IL\",\n          \"object\": \"plan\",\n          \"active\":
        true,\n          \"aggregate_usage\": null,\n          \"amount\": 999,\n
        \         \"billing_scheme\": \"per_unit\",\n          \"created\": 1565156402,\n
        \         \"currency\": \"usd\",\n          \"interval\": \"month\",\n          \"interval_count\":
        1,\n          \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"nickname\": \"Userland Service: paid\",\n          \"product\":
        \"userland\",\n          \"tiers\": null,\n          \"tiers_mode\": null,\n
        \         \"transform_usage\": null,\n          \"trial_period_days\": null,\n
        \         \"usage_type\": \"licensed\"\n        },\n        \"quantity\":
        1,\n        \"subscription\": \"sub_FaFlsgmQ1IEmpi\",\n        \"tax_rates\":
        [\n\n        ]\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\":
        1,\n    \"url\": \"/v1/subscription_items?subscription=sub_FaFlsgmQ1IEmpi\"\n
        \ },\n  \"latest_invoice\": {\n    \"id\": \"in_1F55FyFWLfbqapoHKl5bNxuU\",\n
        \   \"object\": \"invoice\",\n    \"account_country\": \"US\",\n    \"account_name\":
        \"ORB.HOUSE, LLC\",\n    \"amount_due\": 999,\n    \"amount_paid\": 999,\n
        \   \"amount_remaining\": 0,\n    \"application_fee_amount\": null,\n    \"attempt_count\":
        1,\n    \"attempted\": true,\n    \"auto_advance\": false,\n    \"billing\":
        \"charge_automatically\",\n    \"billing_reason\": \"subscription_create\",\n
        \   \"charge\": \"ch_1F55FzFWLfbqapoH5VpQ2W5o\",\n    \"collection_method\":
        \"charge_automatically\",\n    \"created\": 1565246270,\n    \"currency\":
        \"usd\",\n    \"custom_fields\": null,\n    \"customer\": \"cus_FaFlI5V5zLpvjF\",\n
        \   \"customer_address\": null,\n    \"customer_email\": \"delete@me.com\",\n
        \   \"customer_name\": null,\n    \"customer_phone\": null,\n    \"customer_shipping\":
        null,\n    \"customer_tax_exempt\": \"none\",\n    \"customer_tax_ids\": [\n\n
        \   ],\n    \"default_payment_method\": null,\n    \"default_source\": null,\n
        \   \"default_tax_rates\": [\n\n    ],\n    \"description\": null,\n    \"discount\":
        null,\n    \"due_date\": null,\n    \"ending_balance\": 0,\n    \"footer\":
        null,\n    \"hosted_invoice_url\": \"https://pay.stripe.com/invoice/invst_KTuBJYS0vKkd9JqyC92DVsQeUw\",\n
        \   \"invoice_pdf\": \"https://pay.stripe.com/invoice/invst_KTuBJYS0vKkd9JqyC92DVsQeUw/pdf\",\n
        \   \"lines\": {\n      \"object\": \"list\",\n      \"data\": [\n        {\n
        \         \"id\": \"sli_41e07756c23805\",\n          \"object\": \"line_item\",\n
        \         \"amount\": 999,\n          \"currency\": \"usd\",\n          \"description\":
        \"1 \xD7 Userland.tech (at $9.99 / month)\",\n          \"discountable\":
        true,\n          \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"period\": {\n            \"end\": 1567924670,\n            \"start\":
        1565246270\n          },\n          \"plan\": {\n            \"id\": \"plan_FZrbLVsKMsw3IL\",\n
        \           \"object\": \"plan\",\n            \"active\": true,\n            \"aggregate_usage\":
        null,\n            \"amount\": 999,\n            \"billing_scheme\": \"per_unit\",\n
        \           \"created\": 1565156402,\n            \"currency\": \"usd\",\n
        \           \"interval\": \"month\",\n            \"interval_count\": 1,\n
        \           \"livemode\": false,\n            \"metadata\": {\n            },\n
        \           \"nickname\": \"Userland Service: paid\",\n            \"product\":
        \"userland\",\n            \"tiers\": null,\n            \"tiers_mode\": null,\n
        \           \"transform_usage\": null,\n            \"trial_period_days\":
        null,\n            \"usage_type\": \"licensed\"\n          },\n          \"proration\":
        false,\n          \"quantity\": 1,\n          \"subscription\": \"sub_FaFlsgmQ1IEmpi\",\n
        \         \"subscription_item\": \"si_FaFlOXFktXvGXG\",\n          \"tax_amounts\":
        [\n\n          ],\n          \"tax_rates\": [\n\n          ],\n          \"type\":
        \"subscription\"\n        }\n      ],\n      \"has_more\": false,\n      \"total_count\":
        1,\n      \"url\": \"/v1/invoices/in_1F55FyFWLfbqapoHKl5bNxuU/lines\"\n    },\n
        \   \"livemode\": false,\n    \"metadata\": {\n    },\n    \"next_payment_attempt\":
        null,\n    \"number\": \"1AB5A611-0001\",\n    \"paid\": true,\n    \"payment_intent\":
        {\n      \"id\": \"pi_1F55FzFWLfbqapoHCaEm7JOV\",\n      \"object\": \"payment_intent\",\n
        \     \"amount\": 999,\n      \"amount_capturable\": 0,\n      \"amount_received\":
        999,\n      \"application\": null,\n      \"application_fee_amount\": null,\n
        \     \"canceled_at\": null,\n      \"cancellation_reason\": null,\n      \"capture_method\":
        \"automatic\",\n      \"charges\": {\n        \"object\": \"list\",\n        \"data\":
        [\n          {\n            \"id\": \"ch_1F55FzFWLfbqapoH5VpQ2W5o\",\n            \"object\":
        \"charge\",\n            \"amount\": 999,\n            \"amount_refunded\":
        0,\n            \"application\": null,\n            \"application_fee\": null,\n
        \           \"application_fee_amount\": null,\n            \"balance_transaction\":
        \"txn_1F55FzFWLfbqapoHIY2hDLG1\",\n            \"billing_details\": {\n              \"address\":
        {\n                \"city\": null,\n                \"country\": null,\n                \"line1\":
        null,\n                \"line2\": null,\n                \"postal_code\":
        null,\n                \"state\": null\n              },\n              \"email\":
        null,\n              \"name\": null,\n              \"phone\": null\n            },\n
        \           \"captured\": true,\n            \"created\": 1565246271,\n            \"currency\":
        \"usd\",\n            \"customer\": \"cus_FaFlI5V5zLpvjF\",\n            \"description\":
        \"Payment for invoice 1AB5A611-0001\",\n            \"destination\": null,\n
        \           \"dispute\": null,\n            \"failure_code\": null,\n            \"failure_message\":
        null,\n            \"fraud_details\": {\n            },\n            \"invoice\":
        \"in_1F55FyFWLfbqapoHKl5bNxuU\",\n            \"livemode\": false,\n            \"metadata\":
        {\n            },\n            \"on_behalf_of\": null,\n            \"order\":
        null,\n            \"outcome\": {\n              \"network_status\": \"approved_by_network\",\n
        \             \"reason\": null,\n              \"risk_level\": \"normal\",\n
        \             \"risk_score\": 49,\n              \"seller_message\": \"Payment
        complete.\",\n              \"type\": \"authorized\"\n            },\n            \"paid\":
        true,\n            \"payment_intent\": \"pi_1F55FzFWLfbqapoHCaEm7JOV\",\n
        \           \"payment_method\": \"pm_1F55FyFWLfbqapoHuJ9a0sbT\",\n            \"payment_method_details\":
        {\n              \"card\": {\n                \"brand\": \"visa\",\n                \"checks\":
        {\n                  \"address_line1_check\": null,\n                  \"address_postal_code_check\":
        null,\n                  \"cvc_check\": null\n                },\n                \"country\":
        \"US\",\n                \"exp_month\": 8,\n                \"exp_year\":
        2020,\n                \"fingerprint\": \"5WF0F0bdzuufzLej\",\n                \"funding\":
        \"credit\",\n                \"last4\": \"4242\",\n                \"three_d_secure\":
        null,\n                \"wallet\": null\n              },\n              \"type\":
        \"card\"\n            },\n            \"receipt_email\": null,\n            \"receipt_number\":
        null,\n            \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1EO9vYFWLfbqapoH/ch_1F55FzFWLfbqapoH5VpQ2W5o/rcpt_FaFlaNw6ru2mjBx9VFMaGdE0Z7JjMl6\",\n
        \           \"refunded\": false,\n            \"refunds\": {\n              \"object\":
        \"list\",\n              \"data\": [\n\n              ],\n              \"has_more\":
        false,\n              \"total_count\": 0,\n              \"url\": \"/v1/charges/ch_1F55FzFWLfbqapoH5VpQ2W5o/refunds\"\n
        \           },\n            \"review\": null,\n            \"shipping\": null,\n
        \           \"source\": null,\n            \"source_transfer\": null,\n            \"statement_descriptor\":
        null,\n            \"statement_descriptor_suffix\": null,\n            \"status\":
        \"succeeded\",\n            \"transfer_data\": null,\n            \"transfer_group\":
        null\n          }\n        ],\n        \"has_more\": false,\n        \"total_count\":
        1,\n        \"url\": \"/v1/charges?payment_intent=pi_1F55FzFWLfbqapoHCaEm7JOV\"\n
        \     },\n      \"client_secret\": \"pi_1F55FzFWLfbqapoHCaEm7JOV_secret_Xkj0sVGtyAavN91ZpJm2JJ17y\",\n
        \     \"confirmation_method\": \"automatic\",\n      \"created\": 1565246271,\n
        \     \"currency\": \"usd\",\n      \"customer\": \"cus_FaFlI5V5zLpvjF\",\n
        \     \"description\": \"Payment for invoice 1AB5A611-0001\",\n      \"invoice\":
        \"in_1F55FyFWLfbqapoHKl5bNxuU\",\n      \"last_payment_error\": null,\n      \"livemode\":
        false,\n      \"metadata\": {\n      },\n      \"next_action\": null,\n      \"on_behalf_of\":
        null,\n      \"payment_method\": \"pm_1F55FyFWLfbqapoHuJ9a0sbT\",\n      \"payment_method_options\":
        {\n        \"card\": {\n          \"request_three_d_secure\": \"automatic\"\n
        \       }\n      },\n      \"payment_method_types\": [\n        \"card\"\n
        \     ],\n      \"receipt_email\": null,\n      \"review\": null,\n      \"setup_future_usage\":
        \"off_session\",\n      \"shipping\": null,\n      \"source\": null,\n      \"statement_descriptor\":
        null,\n      \"statement_descriptor_suffix\": null,\n      \"status\": \"succeeded\",\n
        \     \"transfer_data\": null,\n      \"transfer_group\": null\n    },\n    \"period_end\":
        1565246270,\n    \"period_start\": 1565246270,\n    \"post_payment_credit_notes_amount\":
        0,\n    \"pre_payment_credit_notes_amount\": 0,\n    \"receipt_number\": null,\n
        \   \"starting_balance\": 0,\n    \"statement_descriptor\": null,\n    \"status\":
        \"paid\",\n    \"status_transitions\": {\n      \"finalized_at\": 1565246270,\n
        \     \"marked_uncollectible_at\": null,\n      \"paid_at\": 1565246271,\n
        \     \"voided_at\": null\n    },\n    \"subscription\": \"sub_FaFlsgmQ1IEmpi\",\n
        \   \"subtotal\": 999,\n    \"tax\": null,\n    \"tax_percent\": null,\n    \"total\":
        999,\n    \"total_tax_amounts\": [\n\n    ],\n    \"webhooks_delivered_at\":
        null\n  },\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"pending_setup_intent\":
        null,\n  \"plan\": {\n    \"id\": \"plan_FZrbLVsKMsw3IL\",\n    \"object\":
        \"plan\",\n    \"active\": true,\n    \"aggregate_usage\": null,\n    \"amount\":
        999,\n    \"billing_scheme\": \"per_unit\",\n    \"created\": 1565156402,\n
        \   \"currency\": \"usd\",\n    \"interval\": \"month\",\n    \"interval_count\":
        1,\n    \"livemode\": false,\n    \"metadata\": {\n    },\n    \"nickname\":
        \"Userland Service: paid\",\n    \"product\": \"userland\",\n    \"tiers\":
        null,\n    \"tiers_mode\": null,\n    \"transform_usage\": null,\n    \"trial_period_days\":
        null,\n    \"usage_type\": \"licensed\"\n  },\n  \"quantity\": 1,\n  \"schedule\":
        null,\n  \"start\": 1565246270,\n  \"start_date\": 1565246270,\n  \"status\":
        \"active\",\n  \"tax_percent\": null,\n  \"trial_end\": null,\n  \"trial_start\":
        null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - b015b6be-d9b1-4c7c-8acc-18dab8090bd4
      original-request:
      - req_NuKAeBTdCJmyFn
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - NOKEYFORYOU
    method: GET
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_FaFlI5V5zLpvjF&status=active
  response:
    body:
      string: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\": \"sub_FaFlsgmQ1IEmpi\",\n
        \     \"object\": \"subscription\",\n      \"application_fee_percent\": null,\n
        \     \"billing\": \"charge_automatically\",\n      \"billing_cycle_anchor\":
        1565[...]
- request:
    body: null
    headers:
      authorization:
      - NOKEYFORYOU
    method: DELETE
    uri: https://api.stripe.com/v1/subscriptions/sub_FaFlsgmQ1IEmpi?prorate=True
  response:
    body:
      string: "{\n  \"id\": \"sub_FaFlsgmQ1IEmpi\",\n  \"object\": \"subscription\",\n
        \ \"application_fee_percent\": null,\n  \"billing\": \"charge_automatically\",\n
        \ \"billing_cycle_anchor\": 1565246270,\n  \"billing_thresholds\": null,\n
        \ \"cancel_at\": null,\n  \"can[...]
- request:
    body: null
    headers:
      authorization:
      - NOKEYFORYOU
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_FaFlI5V5zLpvjF
  response:
    body:
      string: "{\n  \"id\": \"cus_FaFlI5V5zLpvjF\",\n  \"object\": \"customer\",\n
        \ \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - NOKEYFORYOU
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_FaFlI5V5zLpvjF
  response:
    body:
      string: "{\n  \"id\": \"cus_FaFlI5V5zLpvjF\",\n  \"object\": \"customer\",\n
        \ \"deleted\": true\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
version: 1
