interactions:
- request:
    body: email=user%40userland.tech&description=ULA+TEST+2019-08-08+06%3A37%3A53.618615+None
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3cb3f1ec-2c56-489e-8fcd-7ff1186e6c2a
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_FaFltzn4xjAgHB\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1565246273,\n  \"currency\": null,\n  \"default_source\": null,\n  \"delinquent\":
        false,\n  \"description\": \"ULA TEST 2019-08-08 06:37:53.618615 None\",\n
        \ \"discount\": null,\n  \"email\": \"user@userland.tech\",\n  \"invoice_prefix\":
        \"28997AF5\",\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n
        \ ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FaFltzn4xjAgHB/sources\"\n  },\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_FaFltzn4xjAgHB/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_FaFltzn4xjAgHB/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 3cb3f1ec-2c56-489e-8fcd-7ff1186e6c2a
      original-request:
      - req_ReFrEq1JGq16sW
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FaFltzn4xjAgHB
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ed2a85dd-a5f6-4444-9600-bb45ab746a13
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_card_threeDSecure2Required/attach
  response:
    body:
      string: "{\n  \"id\": \"pm_1F55G2FWLfbqapoHeUryq5Wl\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": null,\n    \"exp_month\":
        8,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"SYKi0niCGBrPVd6A\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"3220\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1565246274,\n  \"customer\": \"cus_FaFltzn4xjAgHB\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - ed2a85dd-a5f6-4444-9600-bb45ab746a13
      original-request:
      - req_zeSal8X8wNdeTy
      stripe-version:
      - '2019-03-14'
    status:
      code: 200
      message: OK
- request:
    body: customer=cus_FaFltzn4xjAgHB&default_payment_method=pm_1F55G2FWLfbqapoHeUryq5Wl&items[0][plan]=plan_FZrbLVsKMsw3IL&expand[0]=latest_invoice.payment_intent
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - d524890d-bb43-41bc-a10d-1ce97ea6cb95
      authorization:
      - NOKEYFORYOU
    method: POST
    uri: https://api.stripe.com/v1/subscriptions
  response:
    body:
      string: "{\n  \"id\": \"sub_FaFlnFQnDESbjH\",\n  \"object\": \"subscription\",\n
        \ \"application_fee_percent\": null,\n  \"billing\": \"charge_automatically\",\n
        \ \"billing_cycle_anchor\": 1565246274,\n  \"billing_thresholds\": null,\n
        \ \"cancel_at\": null,\n  \"cancel_at_period_end\": false,\n  \"canceled_at\":
        null,\n  \"collection_method\": \"charge_automatically\",\n  \"created\":
        1565246274,\n  \"current_period_end\": 1567924674,\n  \"current_period_start\":
        1565246274,\n  \"customer\": \"cus_FaFltzn4xjAgHB\",\n  \"days_until_due\":
        null,\n  \"default_payment_method\": \"pm_1F55G2FWLfbqapoHeUryq5Wl\",\n  \"default_source\":
        null,\n  \"default_tax_rates\": [\n\n  ],\n  \"discount\": null,\n  \"ended_at\":
        null,\n  \"items\": {\n    \"object\": \"list\",\n    \"data\": [\n      {\n
        \       \"id\": \"si_FaFlB9DnjrHofB\",\n        \"object\": \"subscription_item\",\n
        \       \"billing_thresholds\": null,\n        \"created\": 1565246275,\n
        \       \"metadata\": {\n        },\n        \"plan\": {\n          \"id\":
        \"plan_FZrbLVsKMsw3IL\",\n          \"object\": \"plan\",\n          \"active\":
        true,\n          \"aggregate_usage\": null,\n          \"amount\": 999,\n
        \         \"billing_scheme\": \"per_unit\",\n          \"created\": 1565156402,\n
        \         \"currency\": \"usd\",\n          \"interval\": \"month\",\n          \"interval_count\":
        1,\n          \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"nickname\": \"Userland Service: paid\",\n          \"product\":
        \"userland\",\n          \"tiers\": null,\n          \"tiers_mode\": null,\n
        \         \"transform_usage\": null,\n          \"trial_period_days\": null,\n
        \         \"usage_type\": \"licensed\"\n        },\n        \"quantity\":
        1,\n        \"subscription\": \"sub_FaFlnFQnDESbjH\",\n        \"tax_rates\":
        [\n\n        ]\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\":
        1,\n    \"url\": \"/v1/subscription_items?subscription=sub_FaFlnFQnDESbjH\"\n
        \ },\n  \"latest_invoice\": {\n    \"id\": \"in_1F55G2FWLfbqapoH36PmuFG3\",\n
        \   \"object\": \"invoice\",\n    \"account_country\": \"US\",\n    \"account_name\":
        \"ORB.HOUSE, LLC\",\n    \"amount_due\": 999,\n    \"amount_paid\": 0,\n    \"amount_remaining\":
        999,\n    \"application_fee_amount\": null,\n    \"attempt_count\": 0,\n    \"attempted\":
        true,\n    \"auto_advance\": true,\n    \"billing\": \"charge_automatically\",\n
        \   \"billing_reason\": \"subscription_create\",\n    \"charge\": null,\n
        \   \"collection_method\": \"charge_automatically\",\n    \"created\": 1565246274,\n
        \   \"currency\": \"usd\",\n    \"custom_fields\": null,\n    \"customer\":
        \"cus_FaFltzn4xjAgHB\",\n    \"customer_address\": null,\n    \"customer_email\":
        \"user@userland.tech\",\n    \"customer_name\": null,\n    \"customer_phone\":
        null,\n    \"customer_shipping\": null,\n    \"customer_tax_exempt\": \"none\",\n
        \   \"customer_tax_ids\": [\n\n    ],\n    \"default_payment_method\": null,\n
        \   \"default_source\": null,\n    \"default_tax_rates\": [\n\n    ],\n    \"description\":
        null,\n    \"discount\": null,\n    \"due_date\": null,\n    \"ending_balance\":
        0,\n    \"footer\": null,\n    \"hosted_invoice_url\": \"https://pay.stripe.com/invoice/invst_AFj0Zxt9jadOndkPV6XHdl0Tfd\",\n
        \   \"invoice_pdf\": \"https://pay.stripe.com/invoice/invst_AFj0Zxt9jadOndkPV6XHdl0Tfd/pdf\",\n
        \   \"lines\": {\n      \"object\": \"list\",\n      \"data\": [\n        {\n
        \         \"id\": \"sli_3ee49a573b7471\",\n          \"object\": \"line_item\",\n
        \         \"amount\": 999,\n          \"currency\": \"usd\",\n          \"description\":
        \"1 \xD7 Userland.tech (at $9.99 / month)\",\n          \"discountable\":
        true,\n          \"livemode\": false,\n          \"metadata\": {\n          },\n
        \         \"period\": {\n            \"end\": 1567924674,\n            \"start\":
        1565246274\n          },\n          \"plan\": {\n            \"id\": \"plan_FZrbLVsKMsw3IL\",\n
        \           \"object\": \"plan\",\n            \"active\": true,\n            \"aggregate_usage\":
        null,\n            \"amount\": 999,\n            \"billing_scheme\": \"per_unit\",\n
        \           \"created\": 1565156402,\n            \"currency\": \"usd\",\n
        \           \"interval\": \"month\",\n            \"interval_count\": 1,\n
        \           \"livemode\": false,\n            \"metadata\": {\n            },\n
        \           \"nickname\": \"Userland Service: paid\",\n            \"product\":
        \"userland\",\n            \"tiers\": null,\n            \"tiers_mode\": null,\n
        \           \"transform_usage\": null,\n            \"trial_period_days\":
        null,\n            \"usage_type\": \"licensed\"\n          },\n          \"proration\":
        false,\n          \"quantity\": 1,\n          \"subscription\": \"sub_FaFlnFQnDESbjH\",\n
        \         \"subscription_item\": \"si_FaFlB9DnjrHofB\",\n          \"tax_amounts\":
        [\n\n          ],\n          \"tax_rates\": [\n\n          ],\n          \"type\":
        \"subscription\"\n        }\n      ],\n      \"has_more\": false,\n      \"total_count\":
        1,\n      \"url\": \"/v1/invoices/in_1F55G2FWLfbqapoH36PmuFG3/lines\"\n    },\n
        \   \"livemode\": false,\n    \"metadata\": {\n    },\n    \"next_payment_attempt\":
        null,\n    \"number\": \"28997AF5-0001\",\n    \"paid\": false,\n    \"payment_intent\":
        {\n      \"id\": \"pi_1F55G2FWLfbqapoHpEGw9Rw7\",\n      \"object\": \"payment_intent\",\n
        \     \"amount\": 999,\n      \"amount_capturable\": 0,\n      \"amount_received\":
        0,\n      \"application\": null,\n      \"application_fee_amount\": null,\n
        \     \"canceled_at\": null,\n      \"cancellation_reason\": null,\n      \"capture_method\":
        \"automatic\",\n      \"charges\": {\n        \"object\": \"list\",\n        \"data\":
        [\n\n        ],\n        \"has_more\": false,\n        \"total_count\": 0,\n
        \       \"url\": \"/v1/charges?payment_intent=pi_1F55G2FWLfbqapoHpEGw9Rw7\"\n
        \     },\n      \"client_secret\": \"pi_1F55G2FWLfbqapoHpEGw9Rw7_secret_DX0HATaVk6x0ofmmf3uhOCvwK\",\n
        \     \"confirmation_method\": \"automatic\",\n      \"created\": 1565246274,\n
        \     \"currency\": \"usd\",\n      \"customer\": \"cus_FaFltzn4xjAgHB\",\n
        \     \"description\": \"Payment for invoice 28997AF5-0001\",\n      \"invoice\":
        \"in_1F55G2FWLfbqapoH36PmuFG3\",\n      \"last_payment_error\": null,\n      \"livemode\":
        false,\n      \"metadata\": {\n      },\n      \"next_action\": {\n        \"type\":
        \"use_stripe_sdk\",\n        \"use_stripe_sdk\": {\n          \"type\": \"stripe_3ds2_fingerprint\",\n
        \         \"three_d_secure_2_source\": \"src_1F55G2FWLfbqapoHIlFzB0qp\",\n
        \         \"directory_server_name\": \"visa\",\n          \"server_transaction_id\":
        \"9bbad0b3-8af6-4fa0-bc45-b9c672dbb010\",\n          \"three_ds_method_url\":
        \"\",\n          \"three_ds_optimizations\": \"\",\n          \"directory_server_encryption\":
        {\n            \"directory_server_id\": \"A000000003\",\n            \"algorithm\":
        \"RSA\",\n            \"certificate\": \"-----BEGIN CERTIFICATE-----\\nMIIFrjCCBJagAwIBAgIQB2rJmsHVwbONd36WP9QPrTANBgkqhkiG9w0BAQsFADBx\\nMQswCQYDVQQGEwJVUzENMAsGA1UEChMEVklTQTEvMC0GA1UECxMmVmlzYSBJbnRl\\ncm5hdGlvbmFsIFNlcnZpY2UgQXNzb2NpYXRpb24xIjAgBgNVBAMTGVZpc2EgZUNv\\nbW1lcmNlIElzc3VpbmcgQ0EwHhcNMTcxMTAyMjIyMzEwWhcNMjAxMTAzMDAyMzEw\\nWjCBoTEYMBYGA1UEBxMPSGlnaGxhbmRzIFJhbmNoMREwDwYDVQQIEwhDb2xvcmFk\\nbzELMAkGA1UEBhMCVVMxDTALBgNVBAoTBFZJU0ExLzAtBgNVBAsTJlZpc2EgSW50\\nZXJuYXRpb25hbCBTZXJ2aWNlIEFzc29jaWF0aW9uMSUwIwYDVQQDExwzZHMyLnJz\[...]
